@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer components {
  body:has(.entry) {
    @apply h-full overflow-hidden;
  }
  input {
    @apply h-[52px] rounded-[8px] border-[1px] border-solid border-[#D0CECE] p-4 focus:outline-none;
  }
  .buttonPrimary {
    @apply bg-btnPrimaryRegular h-[52px] rounded-[46px];
  }
  .buttonPrimary:hover {
    @apply bg-btnPrimaryHover h-[52px] rounded-[46px];
  }
  .buttonPrimary:active {
    @apply bg-btnPrimaryActive h-[52px] rounded-[46px] text-white;
  }
  .buttonPrimary:invalid {
    @apply bg-btnPrimaryInactive h-[52px] rounded-[46px] text-[#999];
  }
  .buttonSecondary {
    @apply bg-btnSecondaryRegular h-[52px] rounded-[46px];
  }
  .buttonSecondary:hover {
    @apply bg-btnSecondaryHover h-[52px] rounded-[46px];
  }
  .buttonSecondary:active {
    @apply bg-btnSecondaryActive h-[52px] rounded-[46px];
  }
  .buttonSecondary:invalid {
    @apply bg-btnSecondaryInactive h-[52px] rounded-[46px] text-[#999];
  }
  .err {
    @apply text-center leading-[34px] text-red-600;
  }
}
